body {
  background-color: #EDEAF0;
  margin : auto;
  text-align: center;
  padding:40px 100px 30px;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif, Arial;
  /* background-color: #EEF1EF; */
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
}

h2 {
  font-family: 'Anton', sans-serif, Arial;
}



button {
  width: 46%;
  min-width: 230px;
  border: .2rem solid #2f4f4f;
  border-radius: .25rem;
  margin: .9rem auto;
  padding: 1rem .5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 0 #767676;
  background: #DDD;
}


.correctHighlight {
  transform: scale(1.05);
  transition: all 0.5s ease;
  border-color: #01FF70;
  box-shadow: 0 0 1rem #01FF70;
  background: #C4FFA3;
}

.wrongHighlight {
  transform: scale(0.95);
  transition: all 0.5s ease;
  background: #FF7F7F;
  border-color: #D81E5B;
  box-shadow: 0 0 1rem #D81E5B;
}
